body{
  margin: 0;
}
.main-container{
  background-image: linear-gradient(to right, rgb(146, 212, 231),rgb(110, 121, 226));
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100vw;
}
.input-el{
  margin-top: 20vh;
  width: 50%;
  height: 40px;
  outline: 0;
  border-radius: 10px;
  border: 2px rgb(171, 161, 161) solid;
}
.description{
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.text{
  color: rgb(25, 50, 43);
  font-size: 30px;
}